// STEP 3: Have a look at Mozilla Firefox's Branding Guidelines at https://mozilla.design/firefox/

// STEP 4: Assign appropriate organizational colours to variables (go to "color" section of above guidelines)


// STEP 5: Map the above colours to Bootstrap’s theme variables
$primary: 
$secondary: 
$info: 
$success: 

// STEP 6: Set base font-color and page background color
$body-color: 
$body-bg: 

// STEP 7: Save this file, then proceed to custom.scss for the next step
